.wrapper {
  width: 100%;
  height: 4rem;
  background-color: var(--c-irisblue);
  font-size: 1.5rem;
  font-weight: 900;
  padding: 0 2rem;
  display: flex;
  align-items: center;
}

.blogName {
  color: var(--c-white);
}
