.content {
  // inline code 用
  p > code {
    border: 1px solid var(--c-silver);
    padding: 0.3rem;
    border-radius: 0.3rem;
    background-color: var(--c-whitesmoke);
    color: var(--c-darkpink);
  }

  p > img {
    max-width: 90%;
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
    display: block;
    margin: 0 auto;
  }

  iframe {
    display: block;
    margin: 0 auto;
  }

  u {
    background: linear-gradient(transparent 70%, rgba(239, 71, 111, 0.7) 30%);
    text-decoration: none;
  }
  blockquote {
    margin: 0;
    width: 100%;
    position: relative;
    padding: 1rem 1.5rem 1rem 4rem;
    box-sizing: border-box;
    font-style: italic;
    border-radius: 0.3rem;
    color: #464646;
    background-color: var(--c-whisper);
  }

  blockquote:before {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
    content: "“";
    font-family: sans-serif;
    color: var(--c-carolinablue);
    font-size: 90px;
    line-height: 1;
  }

  blockquote p {
    padding: 0;
    margin: 10px 0;
    line-height: 1.7;
  }

  a {
    text-decoration: underline;
    color: var(--c-carolinablue);
    opacity: 1;
    transition: all 0.2s ease-in-out;
    &:hover {
      opacity: 0.5;
    }
  }
}
