:root {
  --c-irisblue: #00adb5;
  --c-carolinablue: #279af1;
  --c-darkpink: #ef476f;
  --c-white: #ffffff;
  --c-whisper: #eeeeee;
  --c-whitesmoke: #f7f7f7;
  --c-lightgray: #d3d3d3;
  --c-silver: #c0c0c0;
  --c-cloudburst: #393e46;
  --c-bunker: #222831;
}
